/* You need to create the rest of styles for the layout shown */

.options {
    flex-basis: 35%;
    background-color: antiquewhite;
    margin: 2rem 1rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.choices {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option-container {
    flex: 1 1 0;
}

.order__item {
    display: flex;
    background-color: aliceblue;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    border: 1px dashed dodgerblue;
}